.icon-dropdown {
    left: 95%;
    top: 0.5em;
    color: #0090aa;
}

.hcp-input-selection {
    padding: .2em 0;
    padding-bottom: .19em;
}

.team-members {
    height: 15em;
    overflow: auto;
}