@import '../../../styles/utilities';
@import '../../../styles/variables';

.goal-icon-container {
    color: $body-font-color;
    img {
        width: 1.5rem;
    }
}

.goal-icon-container p {
    @extend .small-line-height;
}

.goal-label {
    font-size: $font-size-xl-lg;
    font-weight: 600;
}

.form-input:disabled {
    border-color: transparent;
    background-color: transparent;
}

input-with-pencil {
    display: flex;
}
