<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
    <fieldset [disabled]="submitting">
        <fieldset>
            <span>{{ 'addPatientReceivedConsent' | localise }}</span>
            <div class="divider"></div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label class="form-label" for="mrn"
                    >{{ 'patientId' | localise }} *</label
                >
                <input
                    class="form-input"
                    id="mrn"
                    placeholder="{{ 'patientId' | localise }}"
                    formControlName="mrn"
                    maxlength="255"
                />
            </div>
            <div class="form-group">
                <label class="form-label" for="personalDetailsLastName"
                    >{{ 'lastName' | localise }} *</label
                >
                <input
                    class="form-input"
                    id="personalDetailsLastName"
                    placeholder="{{ 'lastName' | localise }}"
                    formControlName="lastName"
                    maxlength="40"
                />
            </div>
            <div class="form-group">
                <label class="form-label" for="personalDetailsEmail"
                    >{{ 'email' | localise }} *</label
                >
                <input
                    class="form-input"
                    type="email"
                    id="personalDetailsEmail"
                    placeholder="{{ 'email' | localise }}"
                    formControlName="email"
                    maxlength="100"
                />
            </div>
            <div class="form-group">
                <label class="form-label" for="personalDetailsPhone">{{
                    'phoneNumber' | localise
                }}</label>
                <input
                    class="form-input"
                    type="tel"
                    id="personalDetailsPhone"
                    placeholder="{{ 'phoneNumber' | localise }}"
                    formControlName="phone"
                    maxlength="100"
                    #inputField
                />
            </div>
            <app-modal-form-control
                [required]="true"
                [label]="'language' | localise"
                formControlName="language"
            >
                <app-modal-language-picker></app-modal-language-picker>
            </app-modal-form-control>
        </fieldset>
    </fieldset>
    <div class="modal-footer">
        <div class="helper-text">* {{ 'requiredFields' | localise }}</div>
        <button class="btn btn-link" type="button" (click)="cancel()">
            {{ 'cancel' | localise }}
        </button>
        <button
            class="btn btn-primary"
            [disabled]="shouldDisableSubmit()"
            [class.loading]="submitting"
        >
            {{ 'nextSelectCareModule' | localise }}
        </button>
    </div>
</form>
