// TODO: The explicit heights are causing display issues wherever this class is used
.large-avatar {
  height: 10rem;
  width: 10rem;
  align-self: center;
  object-fit: cover;
  border-radius: 50%;

  &.centered-image {
      position: absolute;
      top: 50%;
      transform: translate(-50%,-50%);
      left: 50%;
  }
}
