<div modal-wrapper [modalTitle]="'changePassword' | localise" [modalSubTitle]="" [modalWidth]="'520px'" [contentOverflow]="'visible'"
  #modal>
  <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
    <div class="toast toast-error" *ngIf="error">
      {{error | errorMsg: 'errorUpdatingPassword'}}
    </div>
    <div class="form-group">
      <label class="form-label" for="oldPassword">{{'oldPassword' | localise }}</label>
      <input class="form-input input-lg" placeholder="{{'oldPassword' | localise }}" type="password" formControlName="oldPassword"
      />
    </div>
    <div class="form-group" [ngClass]="{'has-error': passwordsDontMatch() || passwordTooSimple()}">
      <label class="form-label" for="newPassword">{{'newPasswordPlaceholder' | localise }}</label>
      <input class="form-input input-lg" placeholder="{{'newPasswordPlaceholder' | localise }}" type="password" formControlName="newPassword"
      />
      <div class="form-input-hint" *ngIf="passwordsDontMatch()">{{'pwdValidationDoesNotMatch' | localise }}</div>
      <div class="form-input-hint" *ngIf="passwordTooSimple()">{{'pwdValidationNotComplex' | localise }}</div>
    </div>
    <div class="form-group margin-bottom-1" [ngClass]="{'has-error': passwordsDontMatch() || passwordTooSimple()}">
      <label class="form-label" for="confirmNewPassword">{{'confirmNewPasswordPlaceholder' | localise }}</label>
      <input class="form-input input-lg" placeholder="{{'confirmNewPasswordPlaceholder' | localise }}" type="password" formControlName="confirmNewPassword"
      />
    </div>
    <password-requirements></password-requirements>
    <div class="modal-footer">
      <button class="btn btn-link link" type="button" (click)="close()">{{'cancel' | localise}}</button>
      <button class="btn btn-primary btn-lg" [disabled]="shouldDisableSubmit()" [class.loading]="submitting">{{'confirm' | localise }}
      </button>
    </div>
  </form>
</div>
