<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
    <div class="toast toast-primary">
        {{ 'editSurgeryWarning' | localise }}
    </div>
    <fieldset>
        <app-modal-form-control formControlName="surgery">
            <surgery-selection></surgery-selection>
        </app-modal-form-control>
    </fieldset>

    <div class="modal-footer">
        <div class="columns col-gapless">
            <div class="column col-2 col-mr-auto">
                <button
                    class="btn btn-link"
                    type="button"
                    (click)="changePathwayCoordinator.goBackToCareModule()"
                >
                    <i class="fa fa-chevron-left flip-on-rtl"></i>
                    {{ 'previous' | localise }}
                </button>
            </div>
            <div class="column col-10">
                <button
                    class="btn btn-link"
                    type="button"
                    (click)="changePathwayCoordinator.exit.next()"
                >
                    {{ 'cancel' | localise }}
                </button>
                <button
                    class="btn btn-primary"
                    [disabled]="shouldDisableSubmit()"
                    [class.loading]="submitting"
                >
                    {{ submitText }}
                </button>
            </div>
        </div>
    </div>
</form>
