.consent-details {
    display: block;
    white-space: nowrap;
    img {
        width: 1em;
        height: 1em;
        vertical-align: middle;
        margin-right: 0.5em;
        margin-left: 0.5em;
    }
    p {
        line-height: 1em;
        margin: 0;
    }
}

.status_date {
    display: inline-block;
    vertical-align: middle;
}

.consent-container {
    top: 34%;    
    margin-inline-start: 20%;
    position: absolute;
}
