<div
    modal-wrapper
    [modalTitle]="state ? state.title : ''"
    [modalSubTitle]="state ? state.subTitle : ''"
    [modalWidth]="'380px'"
    (onCloseModal)="cleanForm()"
    #modal
>
    <form *ngIf="form" [formGroup]="form" novalidate>
        <div
            class="toast toast-error margin-bottom-small"
            *ngIf="errors.length > 0"
        >
            <div *ngFor="let error of errors">
                {{ error | errorMsg }}
            </div>
        </div>
        <fieldset [disabled]="submitting" (ngSubmit)="submit()">
            <div class="form-group">
                <label class="form-label" for="appointmentCareModuleId"
                    >{{ 'pathway' | localise }} *</label
                >
                <select
                    id="appointmentCareModuleId"
                    class="form-select full-width"
                    formControlName="caremoduleId"
                >
                    <option [value]="null" disabled>{{
                        'selectPathway' | localise
                    }}</option>
                    <option
                        *ngFor="let careModule of careModulesList"
                        [value]="careModule.id"
                    >
                        {{ careModule.title }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label class="form-label" for="appointmentName"
                    >{{ 'appointmentName' | localise }} *</label
                >
                <input
                    class="form-input"
                    id="appointmentName"
                    formControlName="title"
                    maxlength="40"
                />
            </div>
            <div class="form-group">
                <label class="form-label" for="appointmentTempLocation"
                    >{{ 'location' | localise }}
                </label>
                <input
                    class="form-input"
                    id="appointmentTempLocation"
                    formControlName="location"
                    maxlength="100"
                />
            </div>
            <div class="form-group column padding-0">
                <label class="form-label" for="appointmentTempDescription"
                    >{{ 'description' | localise }}
                </label>
                <textarea
                    class="form-input"
                    id="appointmentTempDescription"
                    formControlName="description"
                    maxlength="240"
                    row="3"
                ></textarea>
            </div>
        </fieldset>
        <div class="modal-footer">
            <button class="btn btn-link" type="button" id="appCancel" (click)="finish()">
                {{ 'cancel' | localise }}
            </button>
            <button
                id="appointmentTempFormSubmit"
                class="btn btn-primary"
                [disabled]="shouldDisableSubmit()"
                [class.loading]="submitting"
                (click)="state.submit()"
            >
                {{ state.submitButtonText }}
            </button>
        </div>
    </form>
</div>
