<div
    modal-wrapper
    [modalTitle]="state ? state.title : ''"
    [modalSubTitle]="
        state.note
            ? ('consultationNoteLastEdited'
              | localise: [state.note.updated.datetime | localisedDate])
            : ''
    "
    [modalWidth]="'120rem'"
    [contentOverflow]="'scroll'"
    [showCloseBtn]="false"
    (onCloseModal)="cleanForm()"
    #modal
>
    <form *ngIf="form" [formGroup]="form" novalidate>
        <div
            class="toast toast-error margin-bottom-small"
            *ngIf="errors.length > 0"
        >
            <div *ngFor="let error of errors">
                {{ error }}
            </div>
        </div>
        <fieldset [disabled]="submitting" (ngSubmit)="submit()">
            <div *ngIf="state.gxp" class="form-group">
                <label class="form-label" for="reason"
                    >{{ 'reason' | localise }} *</label
                >
                <input
                    class="form-input"
                    id="reason"
                    placeholder="{{ 'writeReasonForEditing' | localise }}"
                    formControlName="reason"
                    maxlength="255"
                />
            </div>
            <div class="form-group">
                <label class="form-label" for="title"
                    >{{ 'noteTitle' | localise }} *</label
                >
                <input
                    class="form-input"
                    id="title"
                    placeholder="{{ 'untitled' | localise }}"
                    formControlName="title"
                    maxlength="30"
                />
            </div>
            <div class="form-group">
                <label class="form-label" for="body"
                    >{{ 'noteContents' | localise }} *</label
                >
                <textarea
                    class="form-input"
                    id="body"
                    placeholder="{{ 'writeConsultationNotes' | localise }}"
                    formControlName="body"
                    maxlength="15000"
                    #text
                ></textarea>
            </div>
            <div class="columns">
                <div class="column col-3 col-ml-auto chars-left-container">
                    <p class="characters-remaining">
                        {{ body | countdown: 15000 }}
                    </p>
                </div>
            </div>
        </fieldset>
        <div class="modal-footer">
            <div class="helper-text">* {{ 'requiredFields' | localise }}</div>
            <button class="btn btn-link" type="button" (click)="handleCancel()">
                {{ 'cancel' | localise }}
            </button>
            <button
                class="btn btn-primary"
                [disabled]="shouldDisableSubmit()"
                [class.loading]="submitting"
                (click)="state.submit()"
            >
                {{ state.submitButtonText }}
            </button>
            <app-confirmation-dialog
                *ngIf="showPopover"
                [heading]="state.confirmCancelText"
                [confirmBtnText]="'iAmSure' | localise"
                (onClose)="handleConfirmation($event)"
            ></app-confirmation-dialog>
        </div>
    </form>
</div>
