<div
    modal-wrapper
    [modalTitle]="title"
    [modalWidth]="'520px'"
    [contentOverflow]="'visible'"
    #modal
    class="text-center"
>
    <form
        [formGroup]="form"
        class="form-group"
        [ngClass]="{ 'has-error': formError }"
        novalidate
    >
        <div class="toast toast-error" *ngIf="formError">{{ formError }}</div>
        <fieldset [disabled]="submitting">
            <div class="columns">
                <div class="column">
                    <p>{{ subtitle }}</p>
                </div>
            </div>
            <div>
                <input
                    class="form-input input-lg"
                    type="password"
                    id="password"
                    placeholder="{{ 'password' | localise }}"
                    formControlName="password"
                />
            </div>
        </fieldset>
        <div class="options ">
            <button
                type="button"
                class="btn btn-block btn-secondary yes"
                (click)="close()"
            >
                {{ 'cancel' | localise }}
            </button>
            <button
                type="submit"
                (click)="submit()"
                class="btn btn-block btn-primary"
                [disabled]="shouldDisableSubmit()"
                [class.loading]="submitting"
            >
                {{ 'iAmSure' | localise }}
            </button>
        </div>
    </form>
</div>
