@import '../../../styles/variables.scss';

.gdpr-header {
    font-size: $font-size-xl-lg;
    font-weight: 600;    
    padding-bottom: 1rem;
}

.options {
    display: flex;
    margin-top: 2rem;
    .yes {
        margin-inline-end: 2rem;
    }
}