:host {
    display: block;
    margin-inline-start: 3.8rem;
    margin-top: 4rem;
    h4 {
        font-weight: 400;
    }
}

.body {
    white-space: pre-wrap;
    margin-bottom: 20rem;
    word-break: break-word;
}

.hcp-details-link {
    text-align: right;
    align-self: center;
}

.scrollable {
    max-height: 100vh;
    overflow-y: auto;
}