<div class="columns col-gapless" *ngIf="note">
    <div class="column">
        <div class="columns col-gapless">
            <div class="column col-6">
                <div class="page-header">{{ note.title }}</div>
            </div>
            <div class="column col-3 hcp-details-link">
                <a
                    *ngIf="showEditLink"
                    (click)="startEditHcpNote()"
                    class="link"
                    >{{ 'edit' | localise }}</a
                >
            </div>
        </div>
        <div class="columns col-gapless">
            <div class="column gray-text">
                <div>
                    {{ createdBy(note.created.datetime, note.created)  }}
                </div>
                <div>
                    {{
                        'consultationNoteLastEdited'
                            | localise: [note.updated.datetime | dateformat]
                    }}
                </div>
            </div>
        </div>
        <div class="columns col-gapless scrollable">
            <div class="column col-9">
                <div class="body">{{ note.body }}</div>
            </div>
        </div>
    </div>
</div>
