@import '../../../styles/variables';
:host {
  height: 100%;
}

.details {
  display: block;
  padding: 2rem
}

.loading {
  align-self: center;
}

.back {
    margin: 5rem 0 1rem 0;
}

h1 {
    flex: 1;
    margin: 0;
}

h1,
.heading__badge {
    font-weight: 700;
    font-size: 2.3rem;
    color: $textColour;
}

.title {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

.content {
    background: white;
    flex: 5;
}

.heading {
    margin-inline-start: 1rem;
    margin-inline-end: 2rem;
}
